* {
    padding: 0;
    margin: 0;
}

body {
    background: black;
    font-family: "Bai Jamjuree";
}

label {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 26px;
    display: none;
}

.col1 {
    width: 300px;
    height: 785px;
    background-color: red;
}

.logo {
    position: absolute;
    top: 40px;
    left: 8%;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.menu {
    position: absolute;
    top: 25px;
    right: 5%;
}

.menu ul {
    padding-right: 20px;
}

.menu li {
    display: inline-block;
    margin-right: 30px;
}

.menu li a {
    text-decoration: none;
    font-size: 20px;
    padding-right: 10px;
    color: #fff;
    font-weight: 800;
}

.col2 {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 700px;
    height: 80px;
    background-color: red;
    border-bottom-left-radius: 30px;
}

.profile {
    position: absolute;
    top: 21%;
    left: 10%;
}

.profile img {
    max-width: 300px;
    border-radius: 10px;
}

.profile img:hover {
    transform: scale(0.98);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    cursor: pointer;
    transition: 1s;
}

.info {
    position: absolute;
    top: 55%;
    left: 40%;
    color: #fff;
}

.s-m {
    position: absolute;
    top: 80%;
    left: 40%;
    display: inline-block;
    justify-content: center;
    flex-wrap: wrap;
}

.s-m a {
    display: inline-flex;
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: white;
    line-height: 20px;
    justify-content: center;
    padding: 20px 20px;
    font-size: 29px;
    background-color: red;
    border-radius: 8px;
    margin-right: 20px;
}

.s-m a i {
    margin-top: 4px;
}

.s-m a:hover {
    transform: scale(0.9);
    transition: 0.4s;
}

@media screen and (max-width:500px) {
    .col1 {
        visibility: hidden;
    }
    label {
        display: block;
        cursor: pointer;
    }
    .nav {
        float: right;
        width: auto;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
        clear: right;
    }
    .menu ul {
        display: block;
        margin-top: 30px;
    }
    .menu ul a {
        display: block;
        border-bottom: 1px solid red;
        margin: 20px;
    }
    #toggle {
        visibility: hidden;
    }
    #toggle:checked~.menu {
        position: absolute;
        margin-left: 100px;
        top: 15%;
        display: block;
        color: white;
        height: 100%;
        width: 100%;
        background-color: black;
        right: 0%;
    }
    .col2 {
        float: right;
        width: 100%;
    }
    .info {
        position: absolute;
        top: 90%;
        left: 5%;
        transition: .5s;
    }
    #id {
        max-width: 100%;
        float: left;
    }
    .s-m {
        position: absolute;
        left: 20px;
        bottom: 2%;
        top: 150%;
        max-width: 100%;
    }
    .s-m a {
        width: 12px;
        padding-bottom: 20px;
        font-size: 20px;
        margin-bottom: 30px;
        height: 12px;
        margin-right: 10px;
    }
    .s-m a i {
        margin-top: -3px;
    }
    .s-m a:hover {
        transform: scale(0.9);
    }
}